{% extends 'base.html' %}

{% block content %}
<div class="row about">
  <div class="span10 offset1">
    <p>TheStaircase was built by <a href="http://thejakatak.com">TheJaKaTaK</a>.
      It is still being discussed and improved. The original thread introducing it was on 
      <a href="http://teamliquid.net">TeamLiquid</a> and you can find it here:
      <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=374400">[G] TheStaircase - An Alternative Improvement Method</a></p>
    <p>This site is still under heavy construction and as such should not be
      taken as a good source of information. You can find all information about
      TheStaircase in the thread that is linked above.</p>
  </div>
</div>
{% endblock content %}
